{% extends "layout.html" %}

{% block body %}

{% set fname = 'assets/img/post-bg.jpg' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename=fname) }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin</h1>
            <span class="subheading">Manage Your Posts and change them</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <h2>Basis Actions</h2>
              <button class="btn btn-primary float-right"><a href="/edit/0">Add a new post</a></button>
              <hr>
              <button class="btn btn-primary float-right"><a href="/logout">Logout</a></button>
              <hr>
              <h2>Upload File</h2>
              <!-- <span> we will upload file here</span>  -->
              <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file1" >
                <button type="submit" class="btn btn-primary">Submit</button>
              
              </form>
              <hr>
              <span class="subheading">Manage Your Posts and change them</span>
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th scope="col">sno</th> -->
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {%for i in posts %}
                  <tr>
                    <!-- <th scope="row">{{i.sno}}</th> -->
                    <td>{{i.title}}</td>
                    <td>{{i.date}}</td>
                    <td><a href="/edit/{{i.sno}}"><button class="btn btn-primary float-right">Edit</button></a></td>
                    <td><a href="/delete/{{i.sno}}"><button class="btn btn-primary float-right"  >Delete</button></a></td>
                  </tr>
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> -->
                  {%endfor%}
                </tbody>
              </table>
                
                <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}